@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
}

.flex{
  display: flex;
  gap:40px
}

.flex-1{
  display: flex;
  flex: 2;
}


.flex-2{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container{
  max-width: 1140px;
  margin: auto;
}

li{
  list-style: none;
  cursor: pointer;
}
ul{
  padding: 0;
}